<!doctype html>
<html lang="en">

<head>
  <title>ReMan-Home</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!--Custom styles-->
  <link rel="stylesheet" type="text/css" href="css/homepage.css">


</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">
        <a href="/" class="logo" target="_blank">
          <img src="images/logo.jpg" alt="" height="115px">
        </a>
      </span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/player">
          <i class='bx bx-box'></i>
          <span class=""></span>
        </a>
      </li>
      <li>
        <a href="/manufacturer/home" class="active">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Home</span>
        </a>
      </li>
      <li>
        <a href="/player">
          <i class='bx bx-box'></i>
          <span class="links_name">Notification</span>
        </a>
      </li>
      <li>
        <a href="/leaderboard">
          <i class='bx bx-list-ul'></i>
          <span class="links_name">Transaction History</span>
        </a>
      </li>
      <li>
        <a href="/manufacturer/showInventory">
          <i class='bx bx-pie-chart-alt-2'></i>
          <span class="links_name">Inventory</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-coin-stack'></i>
          <span class="links_name">Production House</span>
        </a>
      </li>
      <li>
        <a href="/admin/create_fixture">
          <i class='bx bx-user'></i>
          <span class="links_name">Product List</span>
        </a>
      </li>
      <li>
        <a href="/admin/update_fixture">
          <i class='bx bx-user'></i>
          <span class="links_name">Update profile</span>
        </a>
      </li>

      <li> </li>
      <li> </li>
      <li> </li>

      <li class="profile_img">
        <div class="profile-details">
          <img id = "img1" src="images/pepsi.jpg" alt="" width="100px">
          <i class='bx bx-chevron-down'></i>
        </div>
        <p id="profile_name">P E P S I</p>
      </li>


      <li class="log_out">
        <a href="/">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>

    </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard > <span style="color: #E71385; font-weight: bold;">Home</span></span>
      </div>
    </nav>
    <br><br><br>
    <div class="header">
      <div class="row">
        <div class="col">
          <br>
          <h1 class="head_name" id="name2">PepsiCo</h1>
        </div>
        <div class="col">
          <img id = "img2" src="images/pepsi.jpg" width="70px" height="70px" class="head_img">
        </div>
      </div>
    </div>
    <br><br>
    <div class="Sales_info">
      <div class="row">
        <div class="col-sm-4">
          <div class="tds">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
              <div class="card-body" id="tds1">
                <h5 class="card-title">Today's Sales</h5>
                <p class="card-text">&#2547; 10450</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="ms">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
              <div class="card-body" id="ms1">
                <h5 class="card-title">Monthly Sales</h5>
                <p class="card-text">&#2547; 24450</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="ts">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
              <div class="card-body" id="ts1">
                <h5 class="card-title">Total Sales</h5>
                <p class="card-text">&#2547; 2400450</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
    <div class="Pr_Cat_info">
      <div class="row">
        <div class="col-sm-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">
              Products & Categories
            </div>
            <div class="card-body">
              <h5 class="card-title"><img src="images/snacks.png" height="80px" width="80px"></h5><br>
              <p class="card-text" id="up1">Products: 20<br> Categories: 5</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">In MarketPlace</div>
            <div class="card-body">
              <h5 class="card-title"><img src="images/retailer.png" height="80px" width="80px"></h5><br>
              <p class="card-text" id="up2">Products: 20<br> Categories: 5</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Inventories</div>
            <div class="card-body">
              <h5 class="card-title"><img src="images/supplier.png" height="80px" width="80px"></h5><br>
              <p class="card-text" id="up3">Total Inventories: 20<br> Empty Inventories: 5</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Production Houses</div>
            <div class="card-body">
              <h5 class="card-title"><img src="images/home-industry.png" height="80px" width="80px"></h5><br>
              <p class="card-text" id = "up4">Total Production Houses: 20<br> Empty Production Houses: 5</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="js/homepage.js"></script>

</body>

</html>