<!doctype html>
<html lang="en">
  <head>
  	<title>Bal amar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<link rel="stylesheet" href="css/styleDashboard.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch after">
			<nav id="sidebar" class="toggle-class-active">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
		  		<h1><a class="logo">Health++ <span id = "setName" style="color:white"></span><span style="color:white">Patient Section</span></a></h1>
				
				<ul class="list-unstyled components mb-5 ">
	          <li style="background-color:#049039" class="active greenHover" ">
	            <a href="/patient/home"><span class="fa fa-home mr-3 active" style="color:white"></span>Home</a>
	          </li>
	          <li class="greenHover ">
	              <a href="/patient/appointments"><span class="fa fa-user-md mr-3" style="color:white"></span>Book Appointments</a>
	          </li>
	          <li class="greenHover ">
              <a href="/patient/ambulance"><span class="fa fa-ambulance mr-3" style="color:white"></span>Hire Ambulance</a>
	          </li>
	          <li class="greenHover ">
              <a href="/patient/upcomingAppointments"><span class="fa fa-suitcase mr-3" style="color:white"></span>Upcoming Appointments</a>
	          </li>
	          <li class="greenHover ">
              <a href="/patient/appointmentsHistory"><span class="fa fa-history mr-3" style="color:white"></span>Previous Appoinments</a>
	          </li>
	          <li class="greenHover ">
              <a href="/patient/test"><span class="fa fa-bar-chart mr-3" style="color:white"></span>Test Results</a>
	          </li>
			  <li class=" greenHover ">
                <a href="/patient/dues"><span class="fa fa-usd mr-3" style="color:white"></span>Dues</a>
              </li>
			  <li onclick="logout()" class="greenHover ">
				<a href="" ><span class="fa fa-paper-plane mr-3" style="color:white"></span>Logout</a>
				</li>
	        </ul>
			
				

	        <!-- <div class="mb-5">
						<h3 class="h6 mb-3">Subscribe for newsletter</h3>
						<form action="#" class="subscribe-form">
	            <div class="form-group d-flex">
	            	<div class="icon"><span class="icon-paper-plane"></span></div>
	              <input type="text" class="form-control" placeholder="Enter Email Address">
	            </div>
	          </form>
					</div> -->

	        <div class="footer" align="bottom">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Md. Sadik Hossain Shanto & Sabah Ahmed <i class="icon-heart" aria-hidden="true"></i>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="container">
			<h1 style="color:#049039">Welcome </h1>
			<h3 style="color:#049039">You're Just One Click Away From Getting The Best Medical Services in Bangladesh......</h3>
			<p>       </p>
			<p>       </p>
			<div class="row row-cols-1 row-cols-md-3 g-4">
				<a href="/patient/appointments">
				<div class="col">
				  <div class="card border-success">
					<img src="images/appointment.png" height="250px" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Book Appointments</h5>
					</div>
				  </div>
				</div>
				</a>

				<a href="/patient/ambulance">
				<div class="col">
				  <div class="card border-success">
					<img src="images/ambulance.png" height="250px" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Hire An Ambulance</h5>
					</div>
				  </div>
				</div>
				</a>

				<a href="/patient/dues">
				<div class="col">
				  <div class="card border-success">
					<img src="images/dues.png" height="250px" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Dues Status</h5>
					</div>
				  </div>
				</div>
				</a>

				<a href="/patient/upcomingAppointments">
				<div class="col">
				  <div class="card border-success">
					<img src="images/upcomingAppointment.png" height="250px" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Upcoming Appointments</h5>
					</div>
				  </div>
				</div>
				</a>

				<a href="/patient/appointmentsHistory">
				<div class="col">
					<div class="card border-success">
					  <img src="images/previousAppointment.png" height="250px" class="card-img-top" alt="...">
					  <div class="card-body">
						<h5 class="card-title">Previous Appointments</h5>
					  </div>
					</div>
				  </div>
				  </a>

				  <a href="/patient/test">
				  <div class="col">
					<div class="card border-success">
					  <img src="images/testResult.png" height="250px" class="card-img-top" alt="...">
					  <div class="card-body">
						<h5 class="card-title">Test Result</h5>
					  </div>
					</div>
				  </div>
				  </a>
			  </div>
			  
		</div>
      </div>
		</div>

    <script src="js/jqueryDashboard.min.js"></script>
    <script src="js/popperDashboard.js"></script>
    <script src="js/bootstrapDashboard.min.js"></script>
    <script src="js/mainDashboard.js"></script>
	<script src="js/patientHome.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
  </body>
</html>